.about_container{
 
    display: flex;
    width: 90%;
    height: 80%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
}
.line{
    height: 3px;
    border-radius: 9px;
    background-color: #D4C0FF;
    width: 90%;
    margin-top: 2%;
}
.left_side{
    flex: 50%;
    display: flex;
    align-items: center;
    
}

.right_side{
    display: flex;
    flex-direction: column;
    flex: 50%;
    height: 90%;
    
    

}
.left_side .puzzle{
   
    height:80%;
    width: 95%;
}
.right_side > p{
    font-family: Helvetica;
    font-weight: 550;
    width: 90%;
    margin-bottom: 2px;
    text-align:left;
    font-size: 1.15vw;
    
    }

.icons{
    margin-top: auto;
    

}
.icons .row{
    display: flex;
    padding: 0;
    margin: 0;
}
.row >li{
    margin-right: 10px;
   
}
.item >img:hover{
    
    transform: scale(1.05);
    cursor: pointer;
}