.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: black;
}
.container .navbar{
    flex: 10%;
    border: 1px solid red;
}
.container .outlet{
    flex:90%;
    border: 1px solid blue;
}